<?xml version="1.0"?>

<model>
  <name>Soccer_Field</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author>

  <description>
    A simple robocup soccer field 
  </description>

</model>
