<?xml version="1.0"?>

<model>
  <name>NaoRed</name>
  <version>1.0</version>
  <sdf version="1.5">naoRed_model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    A model of the Nao.
    Taken from https://github.com/osrf/robocup3ds
  </description>

</model>
